#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.button:hover {
  border-color: #646cff;
}
.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.insert {
  display: grid;
  gap: 5px;
}

.NoteList {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
  row-gap: 20px;
}
.NoteItem {
  display: inline-grid;
  background-color: rgb(51, 51, 51);
  padding: 10px;
  border-radius: 8px;
}